body {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 1000%);
}

.col-md-6 {
    margin: 150px !important;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

input[type=text] {
    width: 100%;
    border: 3px solid #111;
}

input[type=button] {
    width: 100%;
    background-color: blue;
    color: #fff;
    font-weight: bolder;
}

h1 {
    font-weight: bolder;
}

.footer .footer-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
footer{
    color: #111;
    text-align: center;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
footer p a{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: crimson;
    text-decoration: none;
}
footer p a:hover{
    color: crimson;
}
footer p a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
footer a:hover::after{
    width: 100%;
}


@media screen and (max-width:1324px) {
    .col-md-6 {
        margin: 70px !important;
    }
}
@media screen and (max-width:824px) {
    .col-md-6 {
        margin: 30px !important;
    }
}